html{
	background-color: teal;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
}

img{
	height: max(300px, 70%);
	width: max(300px, 70%); /* Επιλεγει ποιο απο τα δυο ειναι μεγαλυτερο, τα 300px ή το 70% του πλατους του container? Παιρνει 2+ ορισματα*/
}