html{
	background: linear-gradient(90deg, maroon, darkviolet, maroon);
	--border-col: cyan;
	--text-col: orange;
	--bg-col: pink;
}

.cont{
	display:flex;
	justify-content: center;
	align-content: center;
	width: clamp(5vh,10vh,30vh);
	height: clamp(5vh,7vh,14vh);
	border: 5px solid var(--border-col);
	background-color: var(--bg-col);
	padding: 3rem;
}

.par{
	color: var(--text-col);
	font-size: 1rem;
}

.cont2{
	width: 10vh;
	height: 11vh;
	background-color: teal;
}